**/.git/**
**/node_modules/**
**/src/**
**/tsconfig*.json
server/build-catalog.js
server/build-catalog-md.js
server/package-lock.json
wombat-api-reference.md
wombat-enum-annotations.md
wombat-enums.md
.vscode-test/**
testFixtures/**
vscode-launch.json
build-catalog.js
build-catalog-md.js
git.tar.gz
out/test/**
**/*.map
